<!DOCTYPE html>

<html>
  <head>
      <meta charset="utf-8">
      <title></title>
      <link rel="stylesheet" href="../../style/css/main.css" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href='https://fonts.googleapis.com/css?family=Bai Jamjuree' rel='stylesheet'>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://d3js.org/d3.v4.js"></script>


  </head>

  <body>
       <div class="background">
           <div class="container">
               <div class="top">
                    <form>
                        <input type="text" placeholder="Country/city..."></input>
                        <i class="fa fa-search"></i>
                  </form>
              </div>
              <h1 class="country">xxx/xxx </h1>
              <h2 class="overall_situation"></h2>
              <img  id="overall_situation_icon" src="http://openweathermap.org/img/wn/11n@2x.png"/>
              <h2 class="hour">00:00:00</h2>
              <div class="bottom">
                 <div class="weather">
                   <div id="hot"> <h2>xx </h2><img src="../../style/images/hot.png"/></div>
                   <div id="wind" > <h2>xx </h2><img src="../../style/images/wind.png"/></div>
                   <div id="ozone"> <h2>xx </h2><img src="../../style/images/ozone.png"/></div>
                   <div id="pressure"> <h2>xx </h2><img src="../../style/images/pressure.png"/></div>
                   <div id="view">  <h2>xx </h2><img src="../../style/images/view.png"/></div>
                   <div id="cloud"> <h2>xx</h2><img src="../../style/images/cloud.png"/></div>
                   <div id="humidity"> <h2>xx </h2><img src="../../style/images/humidity.png"/></div>
                   <div id="uvrays"> <h2>xx</h2><img src="../../style/images/uv-rays-of-sun.png"/></div>

                 </div>
           </div>
    <script src="../../style/fetch_data.js"  type="text/javascript"> </script>

         <div class="spinner"></div>
</div>
<div class="icons_source">Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>

</div>

</body>
</html>
